.nav-wrapper {
    background-color: rgb(69, 126, 248);
    font-family: 'Jura', sans-serif;
}

#map {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.8);
    height: 80%;
    width: 100%;
    border-style: solid;
}

.main {
    width: 90%;
    height: 100%;
    margin-top: 30px;
    font-family: 'Jura', sans-serif;
    font-size: 25px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/images/maps.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
}

.foundData {
    font-family: 'Jura', sans-serif;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.inThisArea h5 {
    background-color: rgb(69, 126, 248);
    text-align: center;
    font-weight: bold;
    border: solid 1px black;
}

.moreInfo {
    background-color: rgb(69, 126, 248);
    margin-bottom: 10px;
    margin-top: 10px;
}

#locationContainer {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Jura', sans-serif;
}

.modal {
    font-family: 'Jura', sans-serif;
}

.modal h5 {
    font-weight: bold;
    text-decoration: underline;
}

.modal a {
    background-color: rgb(69, 126, 248);
}

.listFriends {
    background-color: rgb(69, 126, 248);
    float: right;
    margin-top: 2px;
}

#logo {
    font-size: 25px;
}
