.nav-wrapper {
    background-color: rgb(69, 126, 248);
}

#map {
margin-top: 5%;
border-style: groove;
border-color: rgb(0, 0, 0);
height: 50%;
width: 50%;
display: block;
}

html,
body {
height: 100%;
margin: 0;
padding: 0;
background-image: url("../images/maps.jpg");
background-position: bottom center;  
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
}

